$colors-primary: #00A5BF;
$colors-blue-light: #80D2DF;
$colors-blue-dark: #11626F;
$colors-text: #fff;

$globals-speed: 300ms;

@mixin ra-menu-item__submenu-is-active {
  height: 51px;
  opacity: 1;
  visibility: visible;
  transition: all $globals-speed ease;
}

html { overflow: hidden }

.ra-menu {
  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;

  overflow: hidden;

  &-item {
    transition: all $globals-speed ease;

    &:hover {
      a {
        background-color: rgba(0,0,0,0.1);
        .ra-menu-item__submenu { @include ra-menu-item__submenu-is-active; }
      }
    } // end &:hover, &.is-active

    &.is-active {
      a { background-color: rgba(0,0,0,0.1); }
      .ra-menu-item__icon {
        background-color: $colors-blue-dark;
        &::before { color: $colors-blue-light; }
      }
    } // end &.is-active

    a {
      display: block;
      width: 250px;
      padding: 10px 20px;

      text-decoration: none;
      color: $colors-text;

      transition: all $globals-speed ease;
    } // end a

    &__icon {
      display: inline-block;
      width: 30px;
      height: 30px;

      background-color: $colors-blue-light;
      border-radius: 10px;

      &::before {
        display: block;
        padding-top: 4px;
        padding-left: 7.5px;

        font-family: 'Ionicons';
        font-size: 20px;
        color: $colors-blue-dark;
      } // end &::before
    } // end &__icon

    &__text {
      position: relative;
      top: -3px;
      
      display: inline-block;
      margin-left: 12px;

      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      color: $colors-text;

      opacity: 0;

      transition: all $globals-speed ease;
    } // end &__text

    &__submenu {
      display: block;

      margin: 0 0 5px;
      padding: 0;
      width: 230px;
      list-style: none;

      height: 0;
      visibility: hidden;
      opacity: 0;

      transition: height $globals-speed ease-in-out;

      li a {
        display: block;
        padding: 2.5px 20px 2.5px 44px;
        width: 100%;
        box-sizing: border-box;

        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        
        opacity: 0.6;
        background-color: transparent !important;
        transition: all $globals-speed ease-in-out;

        &:hover,
        &.is-active {
          background-color: transparent;
          opacity: 0.9;
        }
      } // end li a
    } // end &__submenu

    &--top3 {
      .ra-menu-item__icon::before { content: '\f371'; }
    } // end &--top3
    &--facility-unit-comp {
      .ra-menu-item__icon::before { content: '\f275'; }
    } // end &--facility-unit-comp
    &--safeguard-ranking {
      .ra-menu-item__icon::before {
        font-family: 'FontAwesome';
        padding-top: 6px;
        padding-left: 8px;
        content: '\f132';
      }
    } // end &--safeguard-ranking
    &--hazardous-scenario-viewer {
      .ra-menu-item__icon::before {
        padding-left: 6.5px;
        content: '\f2a1';
      }
    } // end &--hazardous-scenario-viewer
    &--share {
      .ra-menu-item__icon::before { content: '\f379'; }
    }
  } // end &-item
} // end .ra-menu

.ra-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $colors-primary;
  transition: all $globals-speed ease-in-out;

  &:hover,
  &.is-expanded {
    width: 250px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);

    .ra-nav__logo {
      margin-top: 80px;
      margin-bottom: -60px;
    }

    .ra-menu-item {
      &.is-active .ra-menu-item__submenu { @include ra-menu-item__submenu-is-active; }
      &__text {
        opacity: 1;
        transition: all $globals-speed ease;
      }    
    }
  }

  &__logo {
    margin-top: 20px;
    transition: all $globals-speed ease-in-out;

    img {
      width: 30px;
      height: 30px;
    } //end img
  } // end &__logo

  &__menu {} // end &__menu
  &__share { margin-bottom: 10px; }
} // end .ra-nav
